/* GENERAL SETTINGS ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #290742;
  --primary-color-dark: #170027;
  --light-green: #4FFF4B;
  --bg-color-content: #FBF6FF;
  --secundary-color: #9E6DC2;

  --title-font: 'Poppins', sans-serif;
  --standard-font: 'Roboto', sans-serif;

  font-size: 62.5%; /* 10px */
}

html, body {
  font-family: var(--standard-font);
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  padding-inline: 13.5rem;
  padding-block: 6.4rem;
  margin-inline: auto;
}

/* HOME SECTION ========================= */
#home {
  background: var(--primary-color);

  border-bottom: .6rem solid var(--light-green);
}

/* header */
#home header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 6.4rem;

}

#home header .menu {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;

  font-size: 1.8rem;
}

#home header .menu li a {
  color: #fff;

  transition: 300ms;
}

#home header .menu li a:hover {
  font-weight: 700;
  border-left: .3rem solid var(--light-green);
  padding-left: .3rem;
} 

#home header .search {
  display: flex;
}

#home header .search #search-input {
  width: 23rem;

  padding: 1.4rem 2.5rem;

  border: none;
  border-radius: .4rem 0 0 .4rem;

  background: var(--primary-color-dark);
  color: #fff;
}

#home header .search #search-input::placeholder {
  font-size: 1.4rem;
  color: #fff;
}

#home header .search button {
  width: 7rem;
  height: 4.4rem;

  border: none;
  border-radius: 0 .4rem .4rem 0;

  background: var(--secundary-color);

  cursor: pointer;
}

/* main */
#home main {
  display: flex;
  gap: 3rem;
}

#home .text {
  width: 57rem;

  text-align: left;
}

#home main .text h1 {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.4rem;
  color: var(--secundary-color);

  margin-bottom: 1.6rem;
}

#home main .text p {
  font-size: 1.8rem;
  color: #fff;

  text-align: justify;

  margin-bottom: 2.4rem;
}

#home main .text #see-more {
  display: flex;
  align-items: center;
  gap: .8rem;

  font-weight: 700;
  font-size: 1.8rem;
  color: var(--secundary-color);
}

#home main #img-home {
  width: 57rem;
}

/* CONTENT SECTION ========================= */
#content {
  background: var(--bg-color-content);

  width: 100%;
  padding-inline: 13.5rem;
  padding-block: 6.4rem;
  margin-inline: auto;
}

#content main{
  display: grid;
  grid-template-areas: 
  "last-post top-posts"
  "others-posts others-posts";
}

#content main h2 {
  color: var(--primary-color);
  font-size: 2.4rem;
  line-height: 3.6rem;

  margin-bottom: .8rem;
}

#content main .post-area {
  width: 100%;
}

#content main #last-post {
  grid-area: last-post;
  
  width: 57rem;
  
  text-align: justify;

  /* margin-right: 13rem; */
}

#content main #last-post h2 {
  margin-bottom: 1.5rem;
}

#content main #last-post #date-last-post {
  margin-block: 1.5rem;
}

#content main .date {
  margin-block: .8rem;
}

#content main #top-posts {
  grid-area: top-posts;

  width: 47.2rem;
  height: 41rem;

  text-align: justify;

}

#content main #top-posts .date:first-child {
  margin-top: 0;
}

#content main #top-posts .divider {
  width: 47rem;
  height: .1rem;


  border-top: .1rem solid #F2E7FA;

  margin-block: 2.3rem;
}

#content main #others-posts {
  grid-area: others-posts;
  display: flex;
  flex-direction: row;

  margin-top: 6.4rem;
}

#content main #others-posts .post {
  margin-right: 3rem;
  width: 37rem;
}